Source: ros-lyrical-cartographer-rviz
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libabsl-dev, libboost-iostreams-dev, libeigen3-dev, ros-lyrical-ament-cmake, ros-lyrical-cartographer, ros-lyrical-cartographer-ros, ros-lyrical-cartographer-ros-msgs, ros-lyrical-pluginlib, ros-lyrical-rclcpp, ros-lyrical-rviz-common, ros-lyrical-rviz-ogre-vendor, ros-lyrical-rviz-rendering, ros-lyrical-ros-workspace
Homepage: https://github.com/cartographer-project/cartographer_ros
Standards-Version: 3.9.2

Package: ros-lyrical-cartographer-rviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libabsl-dev, libboost-iostreams-dev, libeigen3-dev, ros-lyrical-cartographer, ros-lyrical-cartographer-ros, ros-lyrical-cartographer-ros-msgs, ros-lyrical-pluginlib, ros-lyrical-rclcpp, ros-lyrical-rviz-common, ros-lyrical-rviz-ogre-vendor, ros-lyrical-rviz-rendering, ros-lyrical-ros-workspace
Description: Cartographer is a system that provides real-time simultaneous localization and mapping (SLAM) in 2D and 3D across multiple platforms and sensor configurations.
 This package provides Cartographer's RViz integration.
